{
  "schemaVersion": 1,
  "id": "${mod_id}",
  "version": "${version}",
  "name": "${mod_name}",
  "description": "${description}",
  "authors": [
    "${mod_author}"
  ],
  "contact": {
    "sources": "${sources}",
    "issues": "${issue_tracker}"
  },
  "license": "${license}",
  "environment": "client",
  "entrypoints": {
    "main": ["dev.gegy.whats_that_slot.WhatsThatSlotInitializer"],
    "_rei_client": ["dev.gegy.whats_that_slot.integration.rei.WtsReiClientPlugin"]
  },
  "mixins": [
    "${mod_id}.mixins.json"
  ],
  "depends": {
    "fabricloader": ">=0.14",
    "minecraft": "${minecraft_version}",
    "java": ">=21"
  }
}
